body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    
}

.wave-text {
    font-size: 3rem;
    font-weight: bold;
    color: #3498db;
    display: inline-block;
    position: relative;
    white-space: nowrap;
    margin-bottom: 20px; /* Increased margin to provide space between text and card */
}

.wave-text .char {
    display: inline-block;
    --char-index: 0;
    animation: wave 0.25s calc(var(--char-index) * 0.1s) ease;
}

@keyframes wave {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-50%);
    }
}

.container {
    margin-top: 20px; /* Added margin for spacing */
    background-color: aliceblue;
}
/********************/


/*     Card    */


/********************/ 


.card {
color: lightseagreen;
font-size: 5rm;  
height: fit-content;  
width: 100%;
margin-left: 10%;
}

.icon {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 150px; /* Adjust height as needed */
    }
.card-img-top {
        max-width: 100px; /* Ensure the image scales properly */
        height: auto;
    }   


